:root {
  --background-color: #1A2233;
  --text-color: #00FFB3;
  --title-color: #8B5CF6;
  --cite-color: #0066cc;
  --link-color: #00FFB3;
  --link-hover-decoration: underline;
  --link-text-decoration: none;
  --button-font-variant: small-caps;
  --button-cursor: pointer;
  --body-width: 90%;
  --body-margin: 0 auto;
  --font-family: 'nunito', 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
  --title-margin-top: 3px;
  --title-margin-bottom: 3px;
  --img-display: block;
  --img-margin-bottom: 10px;
}